In [7]:
# import np, pd and matplotlib and seaborn
import numpy as np  # type: ignore
import pandas as pd  # type: ignore
import matplotlib.pyplot as plt  # type: ignore
import seaborn as sns  # type: ignore

In [19]:
# df with string with lot of commas seperated by spaces
df = pd.DataFrame({
    'col1': ['a, b, c', 'd, e, f', 'g, h, i'],
    'col2': [1, 2, 3]
})

# split the string in col1 by comma and space and explode the dataframe
df[['col1', 'new']] = df['col1'].str.split(', ', n=1, expand=True)

print(df)

  col1  col2   new
0    a     1  b, c
1    d     2  e, f
2    g     3  h, i