In [2]:
# import np, pd and matplotlib and seaborn
import numpy as np  # type: ignore
import pandas as pd  # type: ignore
import matplotlib.pyplot as plt  # type: ignore
import seaborn as sns  # type: ignore

In [3]:
df = pd.read_csv(
    r"C:\ZTalJaZ\Storage\MasterOfDataScience\Data-Sources\Data_Toolkits\Bank_Dataset\bank_marketing_updated_v1.csv",
    header=2, # or skiprows=2 for skipping the first two rows
    low_memory=False,
)

df.head(3)

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no

In [4]:
df[['job', 'education']] = df['jobedu'].str.split(',', expand=True)

print(df[['job', 'education']].head(3))

            job  education
0    management   tertiary
1    technician  secondary
2  entrepreneur  secondary

In [5]:
df.groupby('education')['salary'].aggregate(['median', 'mean'])

             median          mean
education
primary     20000.0  34212.377755
secondary   55000.0  49743.815188
tertiary   100000.0  82873.618525
unknown     50000.0  46558.427571