In [41]:
# import np, pd and matplotlib and seaborn
import numpy as np  # type: ignore
import pandas as pd  # type: ignore
import matplotlib.pyplot as plt  # type: ignore
import seaborn as sns  # type: ignore

In [42]:
df = pd.read_csv(r"C:\ZTalJaZ\Storage\MasterOfDataScience\Data-Sources\EDA\surat_uncleaned.csv")

df.head(2)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644 sqft,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...","₹2,891 per sqft",₹33.8 Lac
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278 sqft,New Property,Poss. by Jan '26,6 out of 14,Unfurnished,South -West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,"₹3,551 per sqft",₹45.4 Lac

# Load and Explore dataset

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4525 entries, 0 to 4524
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   4525 non-null   object
 1   areaWithType    4525 non-null   object
 2   square_feet     4525 non-null   object
 3   transaction     4421 non-null   object
 4   status          4524 non-null   object
 5   floor           4480 non-null   object
 6   furnishing      4185 non-null   object
 7   facing          3936 non-null   object
 8   description     3154 non-null   object
 9   price_per_sqft  4157 non-null   object
 10  price           4525 non-null   object
dtypes: object(11)
memory usage: 389.0+ KB

In [44]:
df.describe()

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
count,4525,4525,4525,4421,4524,4480,4185,3936,3154,4157,4525
unique,1992,6,1399,38,138,222,78,176,2588,2134,841
top,3 BHK Apartment for Sale in Vesu Surat,Super Area,1000 sqft,Resale,Ready to Move,Resale,Unfurnished,East,Multistorey apartment is available for sale. I...,"₹5,000 per sqft",Call for Price
freq,93,2599,77,2197,3078,431,2322,1487,35,64,173

# Fix the data types of the columns in the dataset

In [45]:
# Check types of columns
df.dtypes

property_name     object
areaWithType      object
square_feet       object
transaction       object
status            object
floor             object
furnishing        object
facing            object
description       object
price_per_sqft    object
price             object
dtype: object

In [46]:
# Check for the number of unique values in the 'transaction' column
df['transaction'].nunique()

38

In [47]:
# DF for percentage of missing values
percentage = df.isnull().mean() * 100

percentage.sort_values(ascending=False)

description       30.298343
facing            13.016575
price_per_sqft     8.132597
furnishing         7.513812
transaction        2.298343
floor              0.994475
status             0.022099
square_feet        0.000000
areaWithType       0.000000
property_name      0.000000
price              0.000000
dtype: float64

In [48]:
# Create DF for that percentage
percentage_df = pd.DataFrame(data=[percentage.index, percentage.values]).T

percentage_df.columns = ["a", "b"]

percentage_df.sort_values(by="b", ascending=False)

                 a          b
8      description  30.298343
7           facing  13.016575
9   price_per_sqft   8.132597
6       furnishing   7.513812
3      transaction   2.298343
5            floor   0.994475
4           status   0.022099
0    property_name        0.0
1     areaWithType        0.0
2      square_feet        0.0
10           price        0.0

In [ ]:
# dropping column description because high percentage of missing value and it is texture column not doing anything
# axis = 1 because removing column
# drop column depend on each case

df = df.drop('description', axis=1)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,price_per_sqft,price
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644 sqft,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"₹2,891 per sqft",₹33.8 Lac
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278 sqft,New Property,Poss. by Jan '26,6 out of 14,Unfurnished,South -West,"₹3,551 per sqft",₹45.4 Lac

In [ ]:
# contains many inconsistent values
df = df.drop('status', axis=1)

In [52]:
df.head(2)

,property_name,areaWithType,square_feet,transaction,floor,furnishing,facing,price_per_sqft,price
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644 sqft,New Property,5 out of 10,Unfurnished,West,"₹2,891 per sqft",₹33.8 Lac
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278 sqft,New Property,6 out of 14,Unfurnished,South -West,"₹3,551 per sqft",₹45.4 Lac